html{
  margin: 0;
  background-image: url('https://i.pinimg.com/originals/7f/4d/6a/7f4d6a79dc2ce1d6af1774bfc57d86b3.jpg');
  background-position: left;
}

#root{
  display: flex;

}

.app{
  display: flex;
  width: 50%;
}

.list{
  font-style: italic;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 100%;
}

.card{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.content > img {
  max-width: 30vw;
  max-height: 40vh;
  
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

.bark{
  display: flex;
  align-self: flex-end;
  height: 25vh;
  margin-bottom: 10px;
  margin-right: 5px;
}

.bark > button{
  background-color: azure;
  border-color: burlywood;
  border-width: 1px;
  border-style: groove;
  border-radius: 12px;
  outline: none;
}

.bark > button:hover {background-color: rgb(221, 231, 231)}

.bark > button:active {
  background-color:rgb(221, 231, 231);
  transform: translateY(4px);
}

.card > img {
  display: flex;
  align-self: flex-end;
  margin-bottom: 60px;
  max-width: 10vw;
  max-height: 10vh;
}